/* You can add global styles to this file, and also import other style files */

html,

body {
    margin: 0;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

/* Default styles */
.no-print {
    color: red;
    font-weight: bold;
}

/* Print-specific styles */
@media print {
    .no-print {
        display: none;
        /* Hide this element when printing */
    }
}

@media print {
    body {
        font-size: 12px;
        /* Adjust font size for better readability */
        line-height: 1.5;
        /* Ensure text spacing is appropriate */
        width: 100%;
    }
}